<!DOCTYPE HTML>
{% load static%}
<html>
	<head>
		<title>Words Of Feel</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{% static 'css/main.css' %}" />
	</head>
	<body class="subpage">

		<!-- Header -->
			<header id="header">
				<div class="logo">Words <span>Of Feel</span></a></div>
			</header>
		<!-- One -->
			<section id="One" class="wrapper style3">
				<div class="inner">
					<header class="align-center">
						<p>Words Of Feel</p>
						<h2>Quotes Information</h2>
					</header>
				</div>
			</section>

		<!-- Main -->
			<div id="main" class="container">
								
				<div class="table-wrapper">
					<table>
						<thead>
							<tr>
								<th>Quotes</th>
								<th>Caption</th>
								<th>Update</th>
								<th>Delete</th>
							</tr>
						</thead>
						<tbody>
							{%for i in quotes%}
							<tr>
								<td><img src="{{i.Quote_image.url}}" height="90" width="90" alt="" /></td>
								<td>{{i.Quote_caption}}</td>
								<td><ul class="actions">
									<li><a href="{%url 'quotesupadte' i.id%}" class="button special">Update</a></li>
									</ul>
								</td>
								<td><ul class="actions">
									<li><a href="{%url 'quotesdelete' i.id%}" class="button special">Delete</a></li>
									</ul>
								</td>
							{%endfor%}
							</tr>
						
							</tbody>
                    </table>
                    <ul class="actions">
						<li><a href="{%url 'mainpage'%}" class="button special">Home Page</a></li>
					</ul>
		<!-- Scripts -->
			<script src="{% static 'js/jquery.min.js' %}"></script>
			<script src="{% static 'js/jquery.scrollex.min.js' %}"></script>
			<script src="{% static 'js/skel.min.js' %}"></script>
			<script src="{% static 'js/util.js' %}"></script>
			<script src="{% static 'js/main.js'%}"></script>

	</body>
</html>